<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<app-navbar></app-navbar>
<p class="title">Featured Safaris</p>
<div class="container d-flex justify-content-center">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div> <img src="https://images.pexels.com/photos/46790/leopard-wildcat-big-cat-botswana-46790.jpeg?auto=compress&cs=tinysrgb&w=400" class="img-responsive image"> </div>
                <p class="rating">9.5</p>
                <div class="card-body">
                    <h5 class="card-title">Olpejeta Conservancy</h5>
                    <p class="card-text"><i class="fa fa-map-marker marker"></i> Laikipia County, Kenya </p>
                    <p class="card-text"><i class="fa fa-star star-rating"></i><i class="fa fa-star star-rating"></i><i class="fa fa-star star-rating"></i><i class="fa fa-star star-rating"></i></p>
                    <p class="card-text">$ 30</p> <a routerLink="/bookings" href=""><button class="book1">Book Now</button></a>
                </div>
            </div>
        </div>
     
        <div class="col-md-4">
            <div class="card">
                <div> <img src="https://images.pexels.com/photos/2575692/pexels-photo-2575692.jpeg?auto=compress&cs=tinysrgb&w=400" class="img-responsive image"> </div>
                <p class="rating">9.6</p>
                <div class="card-body">
                    <h5 class="card-title">Lake Nakuru National Park</h5>
                    <p class="card-text"><i class="fa fa-map-marker marker"></i> Nakuru County, Kenya</p>
                    <p class="card-text"><i class="fa fa-star star-rating"></i><i class="fa fa-star star-rating"></i><i class="fa fa-star star-rating"></i><i class="fa fa-star star-rating"></i><i class="fa fa-star star-rating"></i></p>
                    <p class="card-text">$ 40</p> <a routerLink="/safari3" href=""><button class="book1">Book Now</button></a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div> <img src=" https://images.pexels.com/photos/1130440/pexels-photo-1130440.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="img-responsive image"> </div>
                <p class="rating">9.6</p>
                <div class="card-body">
                    <h5 class="card-title">The Maasai Mara</h5>
                    <p class="card-text"><i class="fa fa-map-marker marker"></i> Trans-Mara County, Kenya</p>
                    <p class="card-text"><i class="fa fa-star star-rating"></i><i class="fa fa-star star-rating"></i><i class="fa fa-star star-rating"></i><i class="fa fa-star star-rating"></i><i class="fa fa-star star-rating"></i></p>
                    <p class="card-text">$ 30</p> <a routerLink="/bookings" href=""><button class="book1">Book Now</button></a>
                </div>
            </div>
        </div>
    
    </div>
</div>
<div class="container d-flex justify-content-center">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div> <img src="https://images.pexels.com/photos/357209/pexels-photo-357209.jpeg?auto=compress&cs=tinysrgb&w=400" class="img-responsive image"> </div>
                <p class="rating">9.6</p>
                <div class="card-body">
                    <h5 class="card-title">Nairobi National Park</h5>
                    <p class="card-text"><i class="fa fa-map-marker marker"></i> Nairobi County, Kenya</p>
                    <p class="card-text"><i class="fa fa-star star-rating"></i><i class="fa fa-star star-rating"></i><i class="fa fa-star star-rating"></i><i class="fa fa-star star-rating"></i></p>
                    <p class="card-text">$ 30</p> <a routerLink="/bookings" href=""><button class="book1">Book Now</button></a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div> <img src="https://images.pexels.com/photos/66898/elephant-cub-tsavo-kenya-66898.jpeg?auto=compress&cs=tinysrgb&w=400" class="img-responsive image"> </div>
                <p class="rating">9.5</p>
               
                <div class="card-body">
                    <h5 class="card-title">Amboseli National Park</h5>
                    <p class="card-text"><i class="fa fa-map-marker marker"></i> Kajiado County, Kenya</p>
                    <p class="card-text"><i class="fa fa-star star-rating"></i><i class="fa fa-star star-rating"></i><i class="fa fa-star star-rating"></i><i class="fa fa-star star-rating"></i></p>
                    <p class="card-text">$ 40</p>  <a routerLink="/safari2" href=""><button class="book1">Book Now</button></a>
                </div>
            </div>
        </div>
  
        <div class="col-md-4">
            <div class="card">
                <div> <img src="https://images.pexels.com/photos/368060/pexels-photo-368060.jpeg?auto=compress&cs=tinysrgb&w=400" class="img-responsive image"> </div>
                <p class="rating">9.5</p>
                <div class="card-body">
                    <h5 class="card-title">Tsavo National Park</h5>
                    <p class="card-text"><i class="fa fa-map-marker marker"></i> Taita-Taveta County, Kenya</p>
                    <p class="card-text"><i class="fa fa-star star-rating"></i><i class="fa fa-star star-rating"></i><i class="fa fa-star star-rating"></i><i class="fa fa-star star-rating"></i></p>
                    <p class="card-text">$ 40</p> <a routerLink="/safari1" href=""><button class="book1">Book Now</button></a>
                </div>
            </div>
        </div>
    </div>
</div>