<!-- <p>tourist-login works!</p> -->


<form [formGroup]="form" (submit)="submit()">

    <h5 style="text-align: center;">Log in to your account <br> view safaris </h5>
    <br>
    <div class="form-group">
        <label for="email">Email address:</label><br>
        <input formControlName="email" type="email" class="form-control" placeholder="Email" required>
        <br>

    </div>
    <div class="form-group">
        <label for="Password">Password:</label><br>
        <input formControlName="password" type="password" class="form-control" placeholder="Password" required>
        <br>

    </div>



    <div>
        <a routerLink="/" href=""><button type="submit" class="btn btn-pri" style="margin-left: 220px;">Login</button></a>
    </div>
</form>


<br>
<div class="row" style="text-align: center; padding-bottom: 50px;">
    <p>Don't have an account? <span style="color: #E2AA2E;"><a href="" routerLink="/tourist/register">sign up</a></span>
    </p>
</div>
<br>
