<app-navbar></app-navbar>
<div class="display">    
        <div class="text">
        <p class="motto">Nakuru National Park</p>
        <p class="motto1"> 
            Crowned by Mount Kilimanjaro, Africa's highest peak, <br>the Amboseli National Parks is one of Kenya's most popular parks. The name "Amboseli"<br>
             comes from a Maasai word meaning "salty dust", and it is one of the best places in Africa<br>
              to view large herds of elephants up close.
        </p>    
        </div>
    </div>
<p class="title">Check Out Our Scheduled Tours</p>
<div class="container mt-5 mb-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-10">
            <div class="card">
                <div class="row">
                    <div class="col-md-6">
                        <div class="images p-3">
                            <div class="text-center p-4"> <img id="main-image" src="https://images.pexels.com/photos/461007/pexels-photo-461007.jpeg?auto=compress&cs=tinysrgb&w=400" width="500" /> </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="product p-4">
                            <div class="d-flex justify-content-between align-items-center">
                            </div>
                            <div class="mt-4 mb-3"> 
                                <h6 class="text-uppercase">Scheduled Tour For <br> 25th July 2022</h6>
                            </div>
                            <!-- <p class="about">
                                Crowned by Mount Kilimanjaro, Africa's highest peak, the Amboseli National Parks is one of Kenya's most popular parks. The name "Amboseli" comes from a Maasai word meaning "salty dust", and it is one of the best places in Africa to view large herds of elephants up close.
                            </p> -->
                            <div class="sizes mt-5">
                            </div>
                            <div class="cart mt-4 align-items-center"> 
                                <p class="card-text">$ 30</p>
                                <button class="btn btn-danger text-uppercase mr-2 px-4">Book Now</button> <i class="fa fa-heart text-muted"></i> <i class="fa fa-share-alt text-muted"></i> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container mt-5 mb-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-10">
            <div class="card">
                <div class="row">
                    <div class="col-md-6">
                        <div class="images p-3">
                            <div class="text-center p-4"> <img id="main-image" src="https://images.pexels.com/photos/1054655/pexels-photo-1054655.jpeg?auto=compress&cs=tinysrgb&w=400" width="500" /> </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="product p-4">
                            <div class="d-flex justify-content-between align-items-center">
                            </div>
                            <div class="mt-4 mb-3"> 
                                <h6 class="text-uppercase">Scheduled Tour For <br> 25th July 2022</h6>
                            </div>
                            <!-- <p class="about">
                                Crowned by Mount Kilimanjaro, Africa's highest peak, the Amboseli National Parks is one of Kenya's most popular parks. The name "Amboseli" comes from a Maasai word meaning "salty dust", and it is one of the best places in Africa to view large herds of elephants up close.
                            </p> -->
                            <div class="sizes mt-5">
                            </div>
                            <div class="cart mt-4 align-items-center">
                                <p class="card-text">$ 30</p>
                                 <button class="btn btn-danger text-uppercase mr-2 px-4">Book Now</button> <i class="fa fa-heart text-muted"></i> <i class="fa fa-share-alt text-muted"></i> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container mt-5 mb-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-10">
            <div class="card">
                <div class="row">
                    <div class="col-md-6">
                        <div class="images p-3">
                            <div class="text-center p-4"> <img id="main-image" src="https://images.pexels.com/photos/2674050/pexels-photo-2674050.jpeg?auto=compress&cs=tinysrgb&w=400" width="500" /> </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="product p-4">
                            <div class="d-flex justify-content-between align-items-center">
                            </div>
                            <div class="mt-4 mb-3"> 
                                <h6 class="text-uppercase">Scheduled Tour For <br> 25th July 2022</h6>
                            </div>
                            <!-- <p class="about">
                                Crowned by Mount Kilimanjaro, Africa's highest peak, the Amboseli National Parks is one of Kenya's most popular parks. The name "Amboseli" comes from a Maasai word meaning "salty dust", and it is one of the best places in Africa to view large herds of elephants up close.
                            </p> -->
                            <div class="sizes mt-5">
                            </div>
                            <div class="cart mt-4 align-items-center"> 
                                <p class="card-text">$ 30</p>
                                <button class="btn btn-danger text-uppercase mr-2 px-4"  >Book Now</button> <i class="fa fa-heart text-muted"></i> <i class="fa fa-share-alt text-muted"></i> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <kenya-map></kenya-map> -->
<app-footer></app-footer>